.users-search-container {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.search-container {
  display: flex;
  align-items: left;
  flex-direction: column;
  padding: 10px 10px;
  background-color: #e6f7ff;
  border-radius: 16px;
  flex: 1;
}

.search-container h1 {
  font-weight: bold;
  font-size: 18px;
  color: black;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-input {
  background-color: #ffffff;
  color: #bfbfbf;
  border: 1px solid #8c8c8c;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  height: 30px;
  width: 150px;
  margin-bottom: 30px;
  border: 3px solid red;
}

.search-input::placeholder {
  color: #1890ff;
}

.search-button {
  height: 40px;
  width: 90px;
  font-size: 16px;
  margin-bottom: 35px;
  background-color: #1890ff;
  color: #ffffff;
  padding: 0;
}
.search-button a {
  color: rgba(255, 255, 255, 0.5);
}

.information-container {
  border: 3px solid red;
  background: #f5f5f5;
  width: 872px;
  height: 40px;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}
.information-container h1 {
  color: #1890ff;
  font-size: 20px;
}

@media (min-width: 576px) {

  .search-container {
    padding-left: 30px;
  }
  .search-input {
    height: 40px;
    width: 298px;
  }
  .search-container h1 {
    font-size: 38px;
  }
}
