.users-search-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.search-container {
  display: flex;
  align-items: left;
  flex-direction: column;
  border-radius: 16px;
  width: 100%;
  margin: 50px 0px 0px 50px;
}

.search-container h1 {
  font-weight: bold;
  color: #ffffff;
  font-size: 18px;
  color: black;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-input {
  background-color: #ffffff;
  color: #bfbfbf;
  border: 1px solid #8c8c8c;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  height: 30px;
  width: 150px;
  margin-bottom: 30px;
  
}

.search-input::placeholder {
  color: #1890ff;
}

.search-button {
  height: 40px;
  width: 90px;
  font-size: 16px;
  margin-bottom: 35px;
  background-color: #1890ff;
  color: #ffffff;
  padding: 0;
}


@media (min-width: 576px) {
  .search-container {
    padding-left: 30px;
  }
  .search-input {
    height: 40px;
    width: 298px;
  }
  .search-container h1 {
    font-size: 38px;
  }
}
